VITE_SUPABASE_URL=https://swwdtgqefugcixiuhpxv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN3d2R0Z3FlZnVnY2l4aXVocHh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNzYxNzksImV4cCI6MjA5NDk1MjE3OX0.skqowHaTD4xR8Pv4pT_gjG-T_1aw9l7A7WmLT2S9pKc
VITE_TELEGRAM_BOT_TOKEN=8935063858:AAGVF1vMsyfxs7bYDhc21tWqSNYEfXmA93A
VITE_TELEGRAM_ADMIN_CHAT_ID=8435829742
VITE_TELEGRAM_MANAGER_USERNAME=kidsland_manager
